@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Highway Gothic';
	src: url('/fonts/HWYGOTH.tff') format('tff');
}
@font-face {
	font-family: 'Highway Gothic Condensed';
	src: url('/fonts/HWYGCOND.tff') format('tff');
}

body {
	font-family: 'Highway Gothic';
}

h1 {
	font-family: 'Highway Gothic Condensed';
	@apply font-bold text-9xl;
}

h2 {
	font-family: 'Highway Gothic Condensed';
	@apply font-bold text-7xl;
}
