@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Highway Gothic';
	src: url('/fonts/HWYGOTH.tff') format('tff');
}
@font-face {
	font-family: 'Highway Gothic Condensed';
	src: url('/fonts/HWYGCOND.tff') format('tff');
}

body {
	font-family: 'Highway Gothic';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Highway Gothic Condensed';
}

h1 {
	@apply text-4xl font-bold md:text-7xl 2xl:text-9xl;
}

h2 {
	@apply text-5xl font-bold md:text-7xl;
}
